# in fact, specify includes here
*
!exist
!lucene-transcoding-analyzer
!sarit-pm/
sarit-pm/node_modules
!sarit-data/
sarit-data/download/
!sarit-transliteration-exist-module/
!docker/start-and-kill-exist.sh
!exist.local.build.properties