[submodule "exist"]
	path = exist
	url = git@github.com:sarit/exist.git
[submodule "sarit-pm"]
	path = sarit-pm
	url = git@github.com:sarit/sarit-pm.git
[submodule "sarit-data"]
	path = sarit-data
	url = git@github.com:sarit/sarit-data.git
[submodule "sarit-transliteration-exist-module"]
	path = sarit-transliteration-exist-module
	url = git@github.com:sarit/sarit-transliteration-exist-module.git
[submodule "lucene-transcoding-analyzer"]
	path = lucene-transcoding-analyzer
	url = git@github.com:sarit/lucene-transcoding-analyzer.git
[submodule "SARIT-corpus"]
	path = SARIT-corpus
	url = git@github.com:sarit/SARIT-corpus.git
