[submodule "exist"]
	path = exist
	url = https://github.com/sarit/exist.git
[submodule "sarit-pm"]
	path = sarit-pm
	url = https://github.com/sarit/sarit-pm.git
[submodule "sarit-data"]
	path = sarit-data
	url = https://github.com/sarit/sarit-data.git
[submodule "sarit-transliteration-exist-module"]
	path = sarit-transliteration-exist-module
	url = https://github.com/sarit/sarit-transliteration-exist-module.git
[submodule "lucene-transcoding-analyzer"]
	path = lucene-transcoding-analyzer
	url = https://github.com/sarit/lucene-transcoding-analyzer.git
[submodule "SARIT-corpus"]
	path = SARIT-corpus
	url = https://github.com/sarit/SARIT-corpus.git
